html {
    font-size: 20px;
}
body {
    background-color: darkcyan;
    font-family: 'Rubik', sans-serif;
}
.konteiner {
    background-color: burlywood;

}
.uudis-pealkiri {
    font-size: 1,5rem;
}
.uudis-kuupäev {
    font-size: 0,7rem;
    color: chartreuse;
    font-weight: bold;
}
  