.konteiner {
    background-color: rgb(133, 133, 160);
    display: flex;
    justify-content: space-evenly;
    height: 100vh;
    align-items: center;
}
.blokk {
    width: 150px;
    height: 150px;
    background-color: rgb(119, 158, 97);
    border-width: 1px;
    border-color: black;
    border-style: solid;
    display: inline-block
}